.box {
    width: 300px;
    height: 100px;
    border: 1px solid red;
    margin: 50px;
}
#visible {
    color: green;
    overflow: visible;
}

#hidden {
    color: orangered;
    overflow: hidden;
}

#scroll {
    color: aqua;
    overflow: scroll;
}
#auto {
    color: darkcyan;
    overflow: auto;
}